.portfolioProjectsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  column-count: 2;
  column-gap: 10em;
  padding: 5em;
}

h2 {
  font-weight: bold;
}

.portfolioTitle {
  font-size: 40px;
  margin-bottom: -40px;
}

.guardianImg {
  margin-left: 210px;
  width: 300px;
  height: 500px;
  box-shadow: 1px 5px 5px 1px grey;
}

.butterflyImg {
  margin-left: 90px;
  width: 550px;
  height: 400px;
  box-shadow: 1px 5px 5px 1px grey;
}

.ncNewsImg {
  margin-left: 65px;
  width: 600px;
  height: 400px;
  box-shadow: 1px 5px 5px 1px grey;
}

.guardianInfo {
  width: 600px;
  margin-top: 30px;
  margin-left: 65px;
  text-align: 'center';
  font-size: 18px;
}

.butterflyInfo {
  width: 600px;
  margin-top: 30px;
  margin-left: 65px;
  text-align: 'center';
  font-size: 18px;
}

.ncNewsInfo {
  width: 600px;
  margin-left: 62px;
  margin-top: 20px;
  font-size: 18px;
}

.guardianList {
  background-color: #f5f8fa;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px grey;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  column-gap: 1em;
  padding: 2em;
}

.butterflyList {
  background-color: #f5f8fa;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px grey;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  column-gap: 1em;
  padding: 2em;
}

.ncNewsList {
  background-color: #f5f8fa;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px grey;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 2em;
  margin-top: 40px;
}

.guardianBtn {
  background-color: rgb(150, 30, 30);
  width: 200px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 4px 10px 10px 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.butterflyHuntBtn {
  background-color: rgb(150, 30, 30);
  display: inline-block;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 4px 0px 10px 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.butterflyHuntHostedBtn {
  background-color: rgb(150, 30, 30);
  display: inline-block;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 4px 0px 10px 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.ncNewsBtn {
  background-color: rgb(150, 30, 30);
  width: 200px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 4px 0px 10px 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.ncNewsHostedBtn {
  background-color: rgb(150, 30, 30);
  width: 200px;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 4px 0px 10px 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 1679px) {
  .guardianImg {
    margin-left: 150px;
  }

  .guardianInfo {
    width: 480px;
  }

  .butterflyImg {
    margin-left: 30px;
  }

  .butterflyInfo {
    width: 480px;
  }

  .ncNewsImg {
    margin-left: 5px;
  }

  .ncNewsInfo {
    width: 490px;
    margin-left: 60px;
  }

  .ncNewsBtn {
    margin-right: 20px;
  }

  .ncNewsHostedBtn {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .portfolioProjectsList {
    display: flex;
    flex-direction: column;
  }

  .guardianList {
    margin-bottom: 40px;
  }

  .butterflyHuntBtn {
    margin-right: 30px;
  }

  .butterflyHuntHostedBtn {
    margin-right: 30px;
  }

  .guardianBtn {
    margin-left: 20px;
  }
}
